<div class="content-escolha-plano">
  <div class="content-escolha-plano-center">
    <span class="icone"><!-- https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Checkmark.png --></span>
    <p class="passos-2-de-3">Passo 2 de 3</p>    
    <h1 class="escolha-plano">Escolha seu plano.</h1>

    <ul>
      <li>
        <span><ion-icon class="icon" name="checkmark-outline"></ion-icon></span>
        Sem compromissos, cancele a qualquer momento.
      </li>
      <li>
        <span><ion-icon class="icon" name="checkmark-outline"></ion-icon></span>
        Tudo na Netflix por um preço baixo.
      </li>
      <li>
        <span><ion-icon class="icon" name="checkmark-outline"></ion-icon></span>
        Visualização ilimitada em todos os seus dispositivos.
      </li>
    </ul>

    <button id="bt-escolha-seu-plano-proximo" class="bt-next">Próximo</button>
  </div> 
</div>