<!DOCTYPE html>
<html lang="pt-br">
  <head>

    {% include 'parts/head.html' %}

    <link rel="stylesheet" href="css/adicionar_perfil.css">
    <title>Netflix</title>
  </head>
  <body>
    
    <div class="cabecalho">
        <!-- cabeçalho -->    
    </div>

    <div id="back">

        <div class="centro">

            <div class="titulo">
                <h1>Adicionar perfil</h1>
                <p>Adicione um perfil Netflix para outra pessoa.</p>
            </div>

            <hr/>
           
           0c0080db5f4bbf44345a0b3d221e

            <section class="container flex">
                
                <div class="item">
                    <img class="imag" src="https://occ-0-3256-448.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABY5cwIbM7shRfcXmfQg98cqMqiZZ8sReZnj4y_keCAHeXmG_SoqLD8SXYistPtesdqIjcsGE-tHO8RR92n7NyxZpqcFS80YfbRFz.png?r=229" alt="">
                </div>

                <input class="nome" type="text" placeholder="Nome">
                
                <div class="infantil">
                    <input type="checkbox" id="infantil" name="infantil" checked> 
                                       
                </div>
                    <p class="texto">Criança?</p> 
                <div>
                </div>

            </section>

            <hr/>

            <section class="container flex">
                <div>
                    <button class="continuar"><p>Continuar</p></button>
                </div>
                <div>
                    <button class="cancelar"><p>Cancelar</p></button>
                </div>
            <hr>

            </section>


        </div>
    
            <!-- conteúdo -->
    
    
            
            <!-- rodapé -->

    </div>