<!DOCTYPE html>
<html lang="pt-br">
  <head>

    {% include 'parts/head.html' %}

    <link rel="stylesheet" href="css/adicionar_perfil.css">
    <title>Netflix</title>
  </head>
  <body>
    
    <div class="cabecalho">
        <!-- cabeçalho -->    
    </div>

    <div id="back">

        <div class="centro">
            <h1>Adicionar perfil</h1>
            <p class="subtitulo">Adicione um perfil na Netflix para outra pessoa.</p>

            <hr>

            <section class="container flex">
                
                <div class="item">
                    <img class="imag" src="https://occ-0-3256-448.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABY5cwIbM7shRfcXmfQg98cqMqiZZ8sReZnj4y_keCAHeXmG_SoqLD8SXYistPtesdqIjcsGE-tHO8RR92n7NyxZpqcFS80YfbRFz.png?r=229" alt="">
                </div>

                <input class="nome" type="text" placeholder="Nome">
                
                <div class="infantil">
                    <input type="checkbox" id="infantil" name="infantil" checked> 
                    <p class="texto">Criança?</p>                    
                </div>

                <div>
                    
                </div>

            </section>

            <hr>

            <section class="container flex">
                
                <button class="continuar" type="button">
                    Continuar
                </button>

                <button class="cancelar" type="button">
                    Cancelar
                </button>

            </section>
        </div>
    
            <!-- conteúdo -->
    
    
            
            <!-- rodapé -->

    </div>