<!DOCTYPE html>
<html lang="pt-br">
  <head>

    {% include 'parts/head.html' %}

    <link rel="stylesheet" href="css/criar_perfil.css">
    <title>Netflix</title>
  </head>
  <body>
    
    <div class="cabecalho">
        <!-- cabeçalho -->    
        <header>
            <img src="img/logo.png" alt="Imagem logo Netflix">     
        </header>
    </div>

    <div id="back">

        <div id="centro">
            <table>
                <tr>
                    <div class="bloco">
                        <ion-icon class="icon" name="add-circle-outline"></ion-icon>
                    </div>
                    <h5>Adicionar perfil</h5>
                    
                </tr>
            </table>
        </div>
    
            <!-- conteúdo -->
    
    
            
            <!-- rodapé -->

    </div>
        
 

    <!-- scripts -->
    {% include 'parts/scripts.html' %}
  </body>
</html>