<!DOCTYPE html>
<html lang="pt-br">
  <head>

    {% include 'parts/head.html' %}

    <link rel="stylesheet" href="css/criar_perfil.css">
    <title>Netflix</title>
  </head>
  <body>
    
    <div class="cabecalho">
        <!-- cabeçalho -->    
        <header>
            <img src="img/logo.png" alt="Imagem logo Netflix">     
        </header>
    </div>

    <div id="back">

        <div id="centro">
            <table>
                <tr>
                    <h1>Quem está assitindo?</h1>
                </tr>
                <td>
                    <div class="box">
                        <a class="img" href="https://occ-0-3256-448.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABY5cwIbM7shRfcXmfQg98cqMqiZZ8sReZnj4y_keCAHeXmG_SoqLD8SXYistPtesdqIjcsGE-tHO8RR92n7NyxZpqcFS80YfbRFz.png?r=229"></a>
                    </div>
                </td>
                <td>
                    <div class="box">
                        <a class="img" href="https://occ-0-3256-448.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABTM4esTewNYvG8POCkUSycJ63_R06Jjn3eBu4lQVwBPJ9BnC_37NHde6S1mhrGHx2AhoEUkvXkj6bJlQY-P4HmKlu5MjZra5MHjz.png?r=1b8"></a>
                    </div>
                </td>
                <td>
                    <div class="bloco">
                        <ion-icon class="icon" name="add-circle-outline"></ion-icon>
                    </div>
                    <h5>Adicionar perfil</h5>
                </td>
            </table>
        </div>
    
            <!-- conteúdo -->
    
    
            
            <!-- rodapé -->

    </div>
        
 

    <!-- scripts -->
    {% include 'parts/scripts.html' %}
  </body>
</html>