{% extends 'layout/layout_catalog.html' %}


{% block content %}

  <!-- formulario para criar um filme -->
  {% include('forms/create_filme.html') %}

  <nav class="navigation-main">

    <div class="opc-left">
      <div class="img-logo">
        <img src="img/logo.png" alt="logo netflix">
      </div>
  
      <ul class="menu-main">
        <li><a href="#">Início</a></li>
        <li><a href="#">Séries</a></li>
        <li><a href="#">Filmes</a></li>
        <li><a href="#">Bombando</a></li>
        <li><a href="#">Minha Lista</a></li>
        <li><a href="#">Navegar por idiomas</a></li>
      </ul>
    </div>
    
    <div class="opc-rigth">
 
      <form class="form-busca-filme" action="#" method="POST">
        <div class="center-input">
          <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
          <input type="text" autofocus class="busca-filme" maxlength="50" autocomplete="on" placeholder="Títulos, gente e gêneros">
        </div>
      </form>
  
      <span class="notifications">
        <ion-icon class="icon-notifications" name="notifications-outline"></ion-icon>
      </span>
  
      <ul class="dropdown-menu">
        <li class="li-img-perfil"><!--Imagem do perfil--> <img src="https://occ-0-3256-1380.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABeCYBRfS2336A00ucH9JXNGW2HV1kmWM3MLLVpXGUB9pgL_ighzzI7SOJ97q7aaeRz3DhS1vObomq1i872EivktRGdB1mfk.png?r=f45" alt="Imagem Perfil"> 
          <div class="seta-cima-baixo"></div>
          <div class="seta-cima"></div>
          <ul>
            <li>
              <a href="#"><span><img src="https://occ-0-3256-1380.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABVmx9oGm5_dAzcKXK3VTcfVCuIPVm-bBkF4OFQ3XC6ygWNG1A-Fe15PmYc8pGYZu1K3dMMrgM5GETNyW2Aeq55MPWHPhQQQ.png?r=b39" alt="Imagem perfil"></span> 
                Outro perfil
              </a>
            </li>                    
            <li>
              <a href="#"><span><ion-icon name="pencil-outline"></ion-icon></span>Gerenciar perfis</a>
            </li>
            <li>
              <a href="#"><span><ion-icon name="people-circle-outline"></ion-icon></span>Transferir perfil</a>
            </li>
            <li><a href="#"><span><ion-icon name="person-outline"></ion-icon></span>Conta</a></li>
            <li><a href="#"><span><ion-icon name="help-circle-outline"></ion-icon></span>Central de ajuda</a></li>
            <li id="li-add-filme" class="li-add-filme"><span class="opc-add-filme"><ion-icon name="add-circle-outline"></ion-icon></span>Adicionar filme</li>
            <li class="li-sair-netflix"><a href="#">Sair da Netflix</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <!-- informações sobre o filme -->
  <div class="image-banner-background">
    <div class="div-gradient-left">
      <div class="div-gradient-bottom">
        <div class="column-left-info-filme">

          <div class="title">
            Próxima parada: Apocalipse            
          </div>
          
          <p class="description">Frank Sheeran, braço direito da família Bufalino, relembra os segredos que guardou por lealdade à máfia no aclamado filme de Martin Scorsese.</p>

          <div class="bts-info">
            <button class="bt-assistir"><span><ion-icon class="icon" name="caret-forward-outline"></ion-icon></span>Assistir</button>
            <button class="bt-mais-info"><span><ion-icon class="icon" name="alert-circle-outline"></ion-icon></span>Mais informações</button>
          </div>         
        </div>
      </div>
    </div>
  </div>

  <!-- catalogo -->
  <div id="catalog-id-first" class="catalog-scroll-main">
    <p class="catalog-category">Categoria de filme</p>
    <div onmouseover="mouse_sobre(this,1);" onmouseout="mouse_saiu(this,1);" class="catalog-scrool-filmes">

      <div onclick="to_left();" class="bottom-scrool-left">
        <span><ion-icon class="icon" name="chevron-back-outline"></ion-icon></span>
      </div>
      <div onclick="to_right();" class="bottom-scrool-rigth">
        <span><ion-icon class="icon" name="chevron-forward-outline"></ion-icon></span>
      </div>

      <div id="1" class="catalog-filmes">
        
        <div class="filme">
          <img src="img/filmes/1.webp" alt="filme 1">
        </div>
        <div class="filme">
          <img src="img/filmes/a.webp" alt="filme 1">
        </div>
        <div class="filme">
          <img src="img/filmes/b.webp" alt="filme 1">
        </div>
        <div class="filme">
          <img src="img/filmes/c.webp" alt="filme 1">          
        </div>
        <div class="filme">
          <img src="img/filmes/e.webp" alt="filme 1">          
        </div>
        <div class="filme">
          <img src="img/filmes/f.jpg" alt="filme 1">
        </div>
        <div class="filme">
          <img src="img/filmes/a.webp" alt="filme 1">
        </div>
        <div class="filme">
          <img src="img/filmes/g.webp" alt="filme 1">
        </div>
        <div class="filme">
          <img src="img/filmes/h.jpg" alt="filme 1">          
        </div>
        <div class="filme">
          <img src="img/filmes/i.webp" alt="filme 1">          
        </div>
        <div class="filme">
          <img src="img/filmes/j.webp" alt="filme 1">
        </div>
        <div class="filme">
          <img src="img/filmes/l.jpg" alt="filme 1">
        </div>
        <div class="filme">
          <img src="img/filmes/b.webp" alt="filme 1">
        </div>
        <div class="filme">
          <img src="img/filmes/c.webp" alt="filme 1">          
        </div>        
        
      </div>
    </div>
  </div>

  <footer>
    <p>
      &copy; 2022 - Todos os direitos reservados para Webflix<br>
      Atividade feita na disciplina de desenvolvimento Web<br>
      Instituto Federal de Educação Ciência e tecnolocia de Rôndonia (IFRO)<br>
      Helberte Costa Arruda & Mateus
    </p>
  </footer>
{% endblock %}