<!DOCTYPE html>
<html lang="pt-br">
  <head>
  
    {% include 'parts/head.html' %}

    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
  </head>
  <body>

    <div class="container">    
      <div class="container-content">

        <!-- section header -->
        {% include 'parts/login/header.html' %}

        <!-- section login -->
        {% include 'parts/login/containerLogin.html' %}      

        <!-- section footer -->
        {% include 'parts/login/footer.html' %}        

      </div><!-- container-content -->  
      
      <img class="img-background" src="https://assets.nflxext.com/ffe/siteui/vlv3/a795ee10-8c6d-467c-8159-254be2b69013/502d7e72-93cd-4f20-8090-bf15b1d24b76/BR-pt-20220912-popsignuptwoweeks-perspective_alpha_website_large.jpg" alt="imagem de fundo">

    </div><!-- container -->
      
    {% include 'parts/scripts.html' %}
  </body> 
</html>