@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
/* section cabeçalho */

header{
  border-bottom: solid 1px #c7c7c7;
  height: 90px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
}
header img{
  object-fit: contain;
  width: 165px;
}
header a{
  color: #333333;
  font-size: 19px;
  font-weight: 600;
}
header a:hover{
  text-decoration: underline;
}

/* section container */

.content{
  height: 670px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .content-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 350px;
  color: #333333;
}

.content .content-center .img-center{
  background-image: url('https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Devices.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  display: block;
  width: 78%;
  height: 100px;
  
}
.content .content-center .passos{
  text-transform: uppercase;
  font-size: 14px;
}
.content .content-center h1{
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-top: 5px;
}
.content .content-center .p-messege{
  text-align: center;
  font-size: 17.5px;
  margin-top: 10px;
}
.content .content-center button{
  width: 100%;
  height: 65px;
  border: none;
  margin-top: 25px;

  background-color: rgb(229, 9, 20);
  color: white;
  font-size: 25px;
  font-weight: 400;
  border-radius: 3.5px;
  cursor: pointer;
}
.content .content-center button:hover{
  background-color: red;
}

/* section content-senha */

.content-senha{
  height: 670px;
}
.content-senha .content-senha-center{
  width: 450px;
  margin: auto;
  padding: 33px 0;
  color: #333333;
}
.content-senha .content-senha-center .passos{
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 7px;
}
.content-senha .content-senha-center h1{
  margin-bottom: 15px;
}
.content-senha .content-senha-center .message{
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 10px;
}
.content-senha .content-senha-center .campos-senha{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content-senha .content-senha-center .campos-senha input{
  height: 58px;
  padding: 0 10px;
  font-size: 16px;
}
.content-senha .content-senha-center .campos-senha .email{
  margin-bottom: 10px;
}
.content-senha .content-senha-center .campos-senha button{
  height: 65px;
  border: none;
  margin-top: 25px;

  background-color: rgb(229, 9, 20);
  color: white;
  font-size: 25px;
  font-weight: 400;
  border-radius: 3.5px;
  cursor: pointer;
}
.content-senha .content-senha-center .campos-senha button:hover{
  background-color: red;
}


/* section escolha seu plano */

.content-escolha-plano{
  height: 670px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #333333;
}
.content-escolha-plano .content-escolha-plano-center{
  width: 350px;
  height: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.content-escolha-plano .content-escolha-plano-center .icone{
  background-image: url('https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Checkmark.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 50px;
  width: 50px;
  margin-bottom: 30px;
}
.content-escolha-plano .content-escolha-plano-center .passos-2-de-3{
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 6px;
}
.content-escolha-plano .content-escolha-plano-center .escolha-plano{
  font-weight: 500;
  margin-bottom: 30px;
}
.content-escolha-plano .content-escolha-plano-center ul{
  width: 300px;
}
.content-escolha-plano .content-escolha-plano-center ul li{
  font-size: 18px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.content-escolha-plano .content-escolha-plano-center ul li span .icon{
  font-size: 35px;
  margin-right: 5px;
}
.content-escolha-plano .content-escolha-plano-center .bt-next{
  height: 65px;
  width: 100%;
  border: none;
  margin-top: 30px;

  background-color: rgb(229, 9, 20);
  color: white;
  font-size: 25px;
  font-weight: 400;
  border-radius: 3.5px;
  cursor: pointer;
}
.content-escolha-plano .content-escolha-plano-center .bt-next:hover{
  background-color: red;
}

/* Section planos */


.content-planos{
  height: 930px;
}
.content-planos .content-planos-center{
  width: 920px;
  margin: auto;
  color: #333333;
}
.content-planos .content-planos-center .passos-planos{
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 22px;
}
.content-planos .content-planos-center .escolha-certo{
  margin-top: 10px;
  font-weight: 500;
}
.content-planos .content-planos-center ul{
  margin-top: 15px;
  font-size: 18px;
}
.content-planos .content-planos-center ul li{
  display: flex;
  align-items: center;
}
.content-planos .content-planos-center ul li span .icon{
  display: block;
  font-size: 32px;
}
.content-planos .content-planos-center table{
  border-collapse: collapse;
  width: 100%;
}
.content-planos .content-planos-center table .linha-2,
.content-planos .content-planos-center table .linha-3,
.content-planos .content-planos-center table .linha-4{
  border-bottom: solid 1px #a3a3a3;
}
.content-planos .content-planos-center table tr td{
  padding: 20px 0;
}
.content-planos .content-planos-center table .linha-2 .linha-content,
.content-planos .content-planos-center table .linha-3 .linha-content,
.content-planos .content-planos-center table .linha-4 .linha-content,
.content-planos .content-planos-center table .linha-5 .linha-content{
  text-align: center;
  padding: 0 35px;
  font-weight: 500;
  color: #737373;
}

.content-planos .content-planos-center table .linha-5 .linha-content{
  font-size: 35px;
}
.content-planos .content-planos-center .messege-1,
.content-planos .content-planos-center .messege-2{
  font-size: 13px;
  margin-top: 15px;
  color: #737373;
  width: 80%;
}
.content-planos .content-planos-center .messege-1 a:hover{
  text-decoration: underline;
}
.content-planos .content-planos-center .div-center-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

.content-planos .content-planos-center .div-center-button button{
  height: 67px;
  width: 440px;
  border: none;

  background-color: rgb(229, 9, 20);
  color: white;
  font-size: 25px;
  font-weight: 400;
  border-radius: 3.5px;
  cursor: pointer;
}
.content-planos .content-planos-center .div-center-button button:hover{
  background-color: red;
}
.content-planos .content-planos-center table{
  margin-top: 17px;
}
.content-planos .content-planos-center table tr th .card{
  width: 100%;
  height: 100%;
  color: white;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ef6b72;
  border-radius: 2.5px;
  position: relative;  
}

.content-planos .content-planos-center table tr th .card.active{
  background-color: red;
}
.content-planos .content-planos-center table tr th .card .seta.active{
  border-top: 11px solid red;
}
.content-planos .content-planos-center table tr .linha-content.active{
  color: red;
}

.content-planos .content-planos-center table tr th .card .seta{
  height: 0;
  width: 0;

  border-bottom: 11px solid transparent;
  border-left: 11px solid transparent;
  border-top: 11px solid transparent;
  border-right: 11px solid transparent;

  position: absolute;
  bottom: -22px;
}

.content-planos .content-planos-center table .linha-1 .linha-1-column{
  height: 147px;
  padding: 15px 22px;
 
}
/* section escolha como pagar */

.content-escolha-como-pagar{
  height: 670px;
}
.content-escolha-como-pagar-center{
  width: 500px;
  height: 100%;
  margin: auto;
  text-align: center;
  color: #333333;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-escolha-como-pagar-center .span-icone{
  width: 50px;
  height: 50px;
  display: block;

  background-image: url('https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Lock.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.content-escolha-como-pagar-center .passos-3-de-3{
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 45px;
}
.content-escolha-como-pagar-center .escolha-como-pagar{
  font-weight: 500;
}
.content-escolha-como-pagar-center .info{
  font-size: 18px;
  width: 90%;
  margin-top: 15px;
}
.content-escolha-como-pagar-center .seguro-tranquilidade{
  font-size: 18px;
  margin-top: 15px;
}
.content-escolha-como-pagar-center .seguro-tranquilidade strong{
  font-weight: 500;
}
.content-escolha-como-pagar-center .criptografia{
  font-size: 13px;
  align-self: flex-end;
  margin-top: 15px;
}
.content-escolha-como-pagar-center .criptografia span .icone{
  color: #ffb53f;
}
.content-escolha-como-pagar-center .forma-de-pagamento{
  border: solid 2.7px #c7c7c7;
  width:  100%;
  height: 90px;
  border-radius: 6px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-left: 13px;

  cursor: pointer;
}
.content-escolha-como-pagar-center .forma-de-pagamento span {
  background-image: url('https://assets.nflxext.com/ffe/siteui/acquisition/reg_selection/chevron_060915_2.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  width: 30px;
  height: 18px;
  position: absolute;
  right: 0;
}
.content-escolha-como-pagar-center .forma-de-pagamento-1{
  margin-top: 2px;
}
.content-escolha-como-pagar-center .forma-de-pagamento-1 .column-1 p{
  text-align: start;
}
.content-escolha-como-pagar-center .forma-de-pagamento-1 .column-1 .cartoes-bandeiras{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content-escolha-como-pagar-center .forma-de-pagamento-1 .column-1 .cartoes-bandeiras img{
  width: 43px;
  height: 26px;

  margin-top: 4px;
  margin-right: 4px;
}
.content-escolha-como-pagar-center .forma-de-pagamento-2{
  height: 70px;
  margin-top: 5px;
  margin-bottom: 75px;
}
.content-escolha-como-pagar-center .forma-de-pagamento-2 .column-1{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content-escolha-como-pagar-center .forma-de-pagamento-2 .column-1 img{
  width: 43px;
  height: 26px;

  margin-left: 10px;
}

/* section configurar cartão */

.container-configurar-cartao .container-configurar-cartao-center{
  height: 1120px;
  width: 440px;
  margin: auto;
  color: #333333;

}
.container-configurar-cartao-center .passos-3-de-3{
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 28px;
}
.container-configurar-cartao-center h1{
  font-weight: 500;
}
.container-configurar-cartao-center .cartoes-bandeiras{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin-top: 15px;
}
.container-configurar-cartao-center .cartoes-bandeiras img{
  width: 43px;
  height: 26px;
  margin-right: 4px;
}
.container-configurar-cartao-center .formulario-cartao{
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 8px;
}
.container-configurar-cartao-center .formulario-cartao input{
  height: 59px;
  margin-bottom: 10px;
  padding-left: 9px;
  font-size: 15px;
  font-weight: 500;
}
.container-configurar-cartao-center .formulario-cartao .codigo-seguranca{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 1px #737373;
  border-radius: 2px;
}
.container-configurar-cartao-center .formulario-cartao .codigo-seguranca span .icon{
  font-size: 47px;
  font-weight: 300;
  margin-right: 3px;
  opacity: 0.5;
  display: block;
}
.container-configurar-cartao-center .formulario-cartao .codigo-seguranca .input-cod-seguranca{
  margin: 0;
  width: 100%;
  border: none;
}
.container-configurar-cartao-center .forma-preferida{
  margin-top: 23px;
  font-weight: 400;
}
.container-configurar-cartao-center .container-chekbox{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.container-configurar-cartao-center .container-chekbox input{
   display: none;
}

.container-configurar-cartao-center .container-chekbox input + label::before{
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  background-color: transparent;
  vertical-align: middle;
  border: solid black 1px;
  border-radius: 50%;
  margin-right: 8px;
}
.container-configurar-cartao-center .container-chekbox label{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 25px;
  font-weight: bold;
}
.container-configurar-cartao-center .container-chekbox input:checked + label::after{
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #0071eb;
  border-radius: 50%;
  position: absolute;
  margin-left: 5px;
}
.container-configurar-cartao-center .plano-escolhido{
  margin-top: 27px;
  background-color: #f4f4f4;
  border-radius: 5px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}
.container-configurar-cartao-center .plano-escolhido .resumo-compra .plano-basico{
  font-weight: 400;
  color: #737373;
  margin-top: 2px;
}
.container-configurar-cartao-center .plano-escolhido button{
  border: none;
  background-color: transparent;
  color: #0071eb;
  font-size: 16.5px;
  font-weight: 500;
}
.container-configurar-cartao-center .plano-escolhido button:hover{
  text-decoration: underline;
}
.container-configurar-cartao-center .info-1{
  font-size: 13px;
  margin-top: 22px;
  color: #737373;
  text-align: justify;
}
.container-configurar-cartao-center .info-2{
  margin-top: 40px;
  font-size: 13px;
  color: #737373;
  text-align: justify;
}
.container-configurar-cartao-center .bt-iniciar-associacao{
  height: 67px;
  width: 100%;
  border: none;

  background-color: rgb(229, 9, 20);
  color: white;
  font-size: 25px;
  font-weight: 400;
  border-radius: 3.5px;
  cursor: pointer;
  margin-top: 30px;
}
.container-configurar-cartao-center .bt-iniciar-associacao:hover{
  background-color: red;
}
/* ANIMAÇÃO CSS */
.container-configurar-cartao .animation{
 
  position: relative;
  animation: deslocament;
  animation-duration: .2s;
  opacity: 0;
}

@keyframes deslocament {
  from{
    opacity: 1;
    left: 0;
  }
  to{    
    left: -35px;
    opacity: 0;
  }
}

/* section primeiro_acesso_criar_perfil */
















/* section footer */

footer{
  height: 210px;
  border-top: #c7c7c7 1px solid;
  background-color: #f3f3f3;
  padding: 25px 0;
  color: #737373;
}

footer .div-center{
  width: 90%;
  margin: auto;

}
footer .div-center p a,
footer .div-center ul a{
  color: #737373;
}
footer .div-center p a:hover,
footer .div-center ul a:hover{
  text-decoration: underline;
}

footer .div-center ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 60px;
  width: 80%;

  margin-top: 30px;
}
footer .div-center ul a{
  font-size: 13px;
  margin-bottom: 13px;
}
footer .div-center select{
  width: 150px;
  height: 50px;

  border: solid 1px #a3a3a3;
  border-radius: 2px;
  font-size: 17px;
  color: #737373;
  text-align: center;
}