<div class="content-escolha-como-pagar">
  <div class="content-escolha-como-pagar-center">
    <span class="span-icone"> <!-- https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Lock.png --></span>
    <p class="passos-3-de-3">Passo 3 de 3</p> 

    <h1 class="escolha-como-pagar">Escolha como pagar</h1>
    <p class="info">Seu pagamento é criptografado e você pode alterar a forma de pagamento a qualquer momento.</p>
    <p><strong>Seguro para sua tranquilidade. <br>Cancele facilmente online.</strong></p>

    <div class="forma-de-pagamento">
      <div class="column-1">
        <p>Cartão de crédito ou débito</p>
        <div class="cartoes-bandeiras">
          <img src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/svg/visa-v3.svg" alt="Visa">
          <img src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/svg/mastercard-v2.svg" alt="mastercard">
          <img src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/svg/amex-v2.svg" alt="amex">
          <img src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/svg/elo-v2.svg" alt="elo">
          <img src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/svg/hipercard-v2.svg" alt="hipercard">
        </div>
      </div>
      <span>
        <!-- https://assets.nflxext.com/ffe/siteui/acquisition/reg_selection/chevron_060915_2.svg -->
      </span>
    </div>

    <div class="forma-de-pagamento">
      <div class="column-1">
        <p>Cartão de crédito ou débito</p>
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/svg/netflix-gift-card-v2.svg" alt="netflix">
      </div>
      <span>
        <!-- https://assets.nflxext.com/ffe/siteui/acquisition/reg_selection/chevron_060915_2.svg -->
      </span>
    </div>
  </div>
</div>