<div class="sessoes-2">
  <div class="column-1">
    <h1>Baixe séries para assistir offline.</h1>
    <p>Salve seus títulos favoritos e sempre tenha algo para assistir.</p>
  </div>
  <div class="column-2">      
    <div class="imagem">
      <div class="Stranger">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png" alt="Stranger imagem">
        <div class="text">
          <p class="title">Stranger Things</p>
          <p class="description">Download em andamento...</p>
        </div>            
        <ion-icon class="arrow-down-outline" name="arrow-down-outline"></ion-icon>
      </div>
    </div>        
  </div>
</div>