<div class="content-planos">
  <div class="content-planos-center">
    <p class="passos-planos">Passo 1 de 3</p>

    <h1 class="escolha-certo">Escolha o plano certo para você</h1>

    <ul>
      <li>
        <span><ion-icon class="icon" name="checkmark-outline"></ion-icon></span>
        Assista tudo o que você quiser. Anúncio grátis.
      </li>
      <li>
        <span><ion-icon class="icon" name="checkmark-outline"></ion-icon></span>
        Recomendações só para você.
      </li>
      <li>
        <span><ion-icon class="icon" name="checkmark-outline"></ion-icon></span>
        Altere ou cancele seu plano a qualquer momento.
      </li>
    </ul>

    <table>
      <tr class="linha-1">
        <th></th>
        <th class="linha-1-column linha-1-column-1">
          <div class="card plano-1">
            Básico
          </div>
        </th>
        <th class="linha-1-column linha-1-column-2">
          <div class="card plano-2">
            Padrão
          </div>
        </th>
        <th class="linha-1-column linha-1-column-3">
          <div class="card plano-3">
            Prêmio
          </div>
        </th>
      </tr>
      <tr class="linha-2">
        <td>Preço mensal</td>
        <td class="linha-content">R$ 25,90</td>
        <td class="linha-content">R$ 39,90</td>
        <td class="linha-content">R$ 55,90</td>
      </tr>
      <tr class="linha-3">
        <td>Qualidade de vídeo</td> 
        <td class="linha-content">Bom</td>
        <td class="linha-content">Melhor</td>
        <td class="linha-content">Melhor</td>     
      </tr>
      <tr class="linha-4">
        <td>Resolução</td>
        <td class="linha-content">480p</td>
        <td class="linha-content">1080p</td>
        <td class="linha-content">4K+HDR</td>
      </tr>
      <tr class="linha-5">
        <td>Assista na sua TV, computador, celular e tablet</td>
        <td class="linha-content"><span><ion-icon class="icon" name="checkmark-outline"></ion-icon></span></td>
        <td class="linha-content"><span><ion-icon class="icon" name="checkmark-outline"></ion-icon></span></td>
        <td class="linha-content"><span><ion-icon class="icon" name="checkmark-outline"></ion-icon></span></td>
      </tr>
    </table>

    <p class="messege-1">Disponibilidade de HD (720p), Full HD (1080p), Ultra HD (4K) e HDR sujeita ao seu serviço de Internet e recursos do dispositivo. Nem todo o conteúdo está disponível em todas as resoluções. Consulte nossos <a href="#">Termos de Uso</a> para mais detalhes.</p>

    <p class="messege-2">Somente as pessoas que moram com você podem usar sua conta. Assista em 4 dispositivos diferentes ao mesmo tempo com Premium, 2 com Standard e 1 com Basic.</p>

    <div class="div-center-button">
      <button>Próximo</button>
    </div>
    
  </div>
</div>