<footer class="footer-main">
  <div class="center-footer">
    <p>Dúvidas? Ligue <a href="#">0800 591 8942</a></p>
    <ul>
      <a href="#"><li>Perguntas frequentes</li></a>
      <a href="#"><li>Central de Ajuda</li></a>
      <a href="#"><li>Conta</li></a>
      <a href="#"><li>Media Center</li></a>
      <a href="#"><li>Relações com investidores</li></a>
      <a href="#"><li>Carreiras</li></a>
      <a href="#"><li>Resgatar cartão pré-pago</li></a>
      <a href="#"><li>Comprar cartão pré-pago</li></a>
      <a href="#"><li>Formas de assistir</li></a>
      <a href="#"><li>Termos de Uso</li></a>
      <a href="#"><li>Privacidade</li></a>
      <a href="#"><li>Preferências de cookies</li></a>
      <a href="#"><li>Informações corporativas</li></a>
      <a href="#"><li>Entre em contato</li></a>
      <a href="#"><li>Teste de velocidade</li></a>
      <a href="#"><li>Avisos legais</li></a>
      <a href="#"><li>Só na Netflix</li></a>
    </ul>
    <select class="select-footer"  name="language" id="language">                
      <option value="portugues">Português</option>
      <option value="english">English</option>
    </select>  
    <p class="web-flix-brasil">WebFlix Brasil</p>
  </div>    
</footer>