<div class="top">
  <div class="gradient">
    <div class="gradient-2">
      
      <!-- section header -->
      <header class="header-principal">
        <span class="span-logo" > 
          
        </span>
        <div class="options">
          <select  name="language" id="language">                
            <option value="portugues">Português</option>
            <option value="english">English</option>
          </select>  
          <button class="button">Entrar</button>
        </div>        
      </header>

      <!-- section header-center-->
      <div class="header-center">
        <h1>Filmes, séries e muito mais. Sem limites</h1>
        <h3>Assista onde quiser. Cancele quando quiser.</h3>
        <p>Pronto para assistir? Informe seu email para criar ou reiniciar sua assinatura.</p>
        <div class="info-open">
          <input type="email" placeholder="Email" maxlength="200">
          <button class="button-go">Vamos lá <ion-icon class="icon-go" name="chevron-forward-outline"></ion-icon> </button>
        </div>          
      </div>     
    </div><!-- gradient-2 -->
  </div><!-- gradient -->
</div><!-- top -->