<div class="container-center-login">
  <div class="div-login">
    <h1>Entrar</h1>

    <input class="campos email" type="text" placeholder="Email ou número de telefone">
    <input class="campos password" type="password" placeholder="Senha">

    <button class="button-entry">Entrar</button>
    <div class="lembre-de-min">
      <div class="lembrar">
        <input type="checkbox" name="lembrar" id="lembrar" value="lembrar">
        <label for="lembrar">Lembre-se de min</label>
      </div>
      
      <a href="#">Precisa de ajuda?</a>
    </div>


    <p class="p-novo-aqui">Novo por aqui? <a href="#">Assine agora.</a></p>
    <p class="p-info-recaptcha">Esta página é protegida pelo Google reCAPTCHA para garantir que você não é um robô. <a href="#">Saiba mais.</a></p>
  </div> <!-- section login -->
</div> 