<footer>
  <div class="div-center">
    <p>Dúvidas? Ligue <a href="#">0800 591 8942</a></p>

    <ul>
      <a href="#"><li>Perguntas Frequentes</li>  </a>
      <a href="#"><li>Central de Ajuda</li>  </a>
      <a href="#"><li>Termos de Uso</li>  </a>
      <a href="#"><li>Privacidade</li>  </a>
      <a href="#"><li>Preferências de cookies</li>  </a>
      <a href="#"><li>Informações corporativas</li>  </a>
    </ul>

    <select name="linguage" id="linguage">
      <option value="portugues">Português</option>
      <option value="inglish">Inglish</option>
    </select>
  </div>
</footer>