<!DOCTYPE html>
<html lang="pt-br">
  <head>

    {% include '../parts/head.html' %}

    <link rel="stylesheet" href="css/configurar.css">
    <title>Netflix</title>
  </head>
  <body>
    
    <!-- cabeçalho -->    
    <header>
      <img src="img/logo.png" alt="Imagem logo Netflix">
    
      {% block header_entry %}

      {% endblock %}      
    </header>

    <!-- conteúdo -->
    {% block content %}

    {% endblock %}
    
    <!-- rodapé -->
    {% include '../parts/configurar/footer.html' %}
  </body>
</html>