<div id="id-fade" class="fade hide"></div>
<div id="id-modal" class="modal-form-filme hide">
  
  <form class="form-add-filme" action="/filme_create" method="post" enctype="multipart/form-data">
    <header>
      <p>Adicione um novo filme</p>
      <span id="bt-sair"><ion-icon class="icon" name="close-outline"></ion-icon></span>
    </header>
    <main class="form-main-add-filme">
      <div class="form-filme-basic">
        <div class="column-left">
          <input type="text" name="titulo" id="titulo" maxlength="100" required autofocus autocomplete="on" placeholder="Titulo do filme (Nome)">

          <input type="text" placeholder="Subtítulo" name="subtitulo" id="subtitulo" maxlength="50" required autocomplete="on">
        </div>
        <div class="column-right">
          <img id="img_filme" src="img/fundo.png" alt="">

          <div class="imagem-filme-posicao">            
            <input type="file" id="imgem-filme" name="image">
            <label class="label-imagem" for="imgem-filme">Escolher imagem</label>
          </div>
          
          <input type="text" name="nome_image" id="nome_image">
         
        </div>        
      </div>
      <label class="sinopse" for="sinopse" id="sinopse">Sinopse</label>
      <textarea class="text-sinopse" name="sinopse" id="sinopse" cols="30" rows="10" placeholder="Informe aqui a sinopse"></textarea>
      <div class="form-filme-info">

        <input type="text" placeholder="Duração" id="duracao" name="duracao" maxlength="10" required autocomplete="on">
        <input type="text" placeholder="Idade" id="idade" name="idade" maxlength="3" required autocomplete="on">
        <input type="text" placeholder="Ano" id="ano" name="ano" maxlength="4" required autocomplete="on">
      </div>

      <button class="bt-enviar-filme" type="submit">Salvar</button>
    </main>
  </form>
</div>