<div class="content-primeiro-acesso-criar-perfil">
  <div class="content-column content-column-left">
    <p class="passo">Passo <strong>1</strong> de <strong>1</strong></p>
    <h1>Quem vai assistir?</h1>
    <p class="info">As pessoas que moram com você podem receber recomendações personalizadas de acordo com as preferências de títulos e idiomas. Perfeito para crianças!</p>
  </div>
  <div class="content-column content-column-rigth">
    <label class="seu-perfil" for="seu-perfil"><strong>Seu perfil</strong></label>
    <div class="campo-perfil-1 campo-perfis">
      <span><ion-icon class="icon" name="person-outline"></ion-icon></span>
      <input class="campo" type="text" id="seu-perfil" placeholder="Nome" maxlength="100">
    </div>
    
    <label class="add-perfis"><strong>Adicionar perfil</strong></label>
    <div class="campo-perfis">
      <span><ion-icon class="icon" name="person-add-outline"></ion-icon></span>
      <input class="campo" type="text" placeholder="Nome" maxlength="100">
    </div>
    <div class="campo-perfis">
      <span><ion-icon class="icon" name="person-add-outline"></ion-icon></span>
      <input class="campo" type="text" placeholder="Nome" maxlength="100">
    </div>
    <div class="campo-perfis">
      <span><ion-icon class="icon" name="person-add-outline"></ion-icon></span>
      <input class="campo" type="text" placeholder="Nome" maxlength="100">
    </div>
    <div class="campo-perfis">
      <span><ion-icon class="icon" name="person-add-outline"></ion-icon></span>
      <input class="campo" type="text" placeholder="Nome" maxlength="100">
    </div>

    <p class="info-2">Só pessoas que moram com você podem usar sua conta. <a href="#"> Saiba mais</a></p>
    <button>Próximo</button>
  </div>
</div>