<div class="container-configurar-cartao">
  <div class="container-configurar-cartao-center">
    <p class="passos-3-de-3">Passo 3 de 3</p> 
    <h1>Informe os dados do seu cartão de crédito ou débito</h1>

    <div class="cartoes-bandeiras">
      <img src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/svg/visa-v3.svg" alt="Visa">
      <img src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/svg/mastercard-v2.svg" alt="mastercard">
      <img src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/svg/amex-v2.svg" alt="amex">
      <img src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/svg/elo-v2.svg" alt="elo">
      <img src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/svg/hipercard-v2.svg" alt="hipercard">
    </div>
  
    <form class="formulario-cartao" action="#">
      <input type="text" name="nome" id="campo-nome" placeholder="Nome" maxlength="100">
      <input type="text" name="sobrenome" id="campo-sobrenome" placeholder="Sobrenome" maxlength="100">
      <input type="text" name="numero_cartao" id="numero-cartao" placeholder="Número do cartão" maxlength="100">
      <input type="text" name="data_validade" id="data-validade" placeholder="Informe a data de validade (MM/AA)" maxlength="100">
      <div class="codigo-seguranca">
        <input class="input-cod-seguranca" type="text" name="codigo_seguranca" id="codigo-seguranca" placeholder="Informe o código de segurança (CVV)" maxlength="4">
        <span><ion-icon class="icon" name="help-circle-outline"></ion-icon></span>
      </div>      
    </form>

    <p class="forma-preferida"><strong>Selecione sua forma preferida de processar o pagamento:</strong></p>
    <div class="container-chekbox">
      <input type="radio" id="credito" name="radio-cartao" value="credito">
      <label for="credito">Crédito</label>
      <input type="radio" id="debito" name="radio-cartao" value="debito">
      <label for="debito">Débito</label>
    </div>

    <div class="plano-escolhido">
      <div class="resumo-compra">
        <p>R$ 25,90/mês</p>
        <p>Plano Básico</p>
      </div>
      <button>Mudar</button>
    </div>
    <p>Os cartões elegíveis para transações de débito e crédito podem ser processados ​de qualquer maneira.</p>
    <p>Ao clicar no botão “Iniciar assinatura” abaixo, você concorda com nossos Termos de Uso , Declaração de Privacidade , que você tem mais de 18 anos e que a<strong> Netflix continuará automaticamente sua assinatura e cobrará a taxa de assinatura (atualmente R$ 25,90/mês) para seu método de pagamento até que você cancele. Você pode cancelar a qualquer momento para evitar cobranças futuras</strong>. Para cancelar, vá para Conta e clique em “Cancelar assinatura”.</p>

    <button>Iniciar associação</button>
  </div>
</div>